In [3]:
pip install requests

Requirement already satisfied: requests in /Users/taylorcox/opt/anaconda3/lib/python3.8/site-packages (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in /Users/taylorcox/opt/anaconda3/lib/python3.8/site-packages (from requests) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /Users/taylorcox/opt/anaconda3/lib/python3.8/site-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /Users/taylorcox/opt/anaconda3/lib/python3.8/site-packages (from requests) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/taylorcox/opt/anaconda3/lib/python3.8/site-packages (from requests) (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [30]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
URL = "https://en.wikipedia.org/wiki/The_Bachelorette_(American_season_17)"
page = requests.get(URL)

print(page.text)

In [8]:
soup = BeautifulSoup(page.content, "html.parser")

In [ ]:
print(soup.prettify())

In [23]:
results = soup.find('table', class_="wikitable sortable")

In [26]:
elements = results.find("div", class_="wikitable sortable")

In [34]:
headers = []
for i in results.find_all('th'):
    title = i.text
    headers.append(title)

df = pd.DataFrame(columns = headers)

In [116]:
name = []
age = []
hometown = []
occupation = []
for j in results.find_all('tr')[1:]:
        row_data = j.find_all('td')
        row = [tr.text for tr in row_data]
        for i in (0,len(name)):
            name.append(row[:1])
            age.append(row[1:2])
            hometown.append(row[2:3])
            occupation.append(row[3:4])
            i+=1

In [124]:
final_names=[]
for i in name:
    if i not in final_names:
        final_names.append(i)
        
print(list(final_names))

[['Blake Moynes[11][12]\n'], ['Justin Glaze[14]\n'], ['Greg Grippo[15][16]\n'], ['Michael Allio[18][19]\n'], ['Andrew Spencer[4]\n'], ['Mike Planeta[22]\n'], ['Brendan Scanzano[12]\n'], ['Aaron Clancy[23]\n'], ['Hunter Montgomery[25]\n'], ['James Bonsall[16]\n'], ['Tré Cooper[23]\n'], ['Connor Brennan[16][26]\n'], ['Andrew Milcovich[23]\n'], ['Josh Tylerbest[23]\n'], ['Quartney Mixon[25]\n'], ['Christian Smith[28]\n'], ['Conor Costello[23]\n'], ['David Scott[23]\n'], ['Thomas Jacobs[23]\n'], ['Garrett Schwartz[23]\n'], ['John Hersey[23]\n'], ['Karl Smith[23]\n'], ['Kyle Howard[23]\n'], ['Cody Menk[15][16]\n'], ['Austin Tinsley[23]\n'], ['Brandon Torres[32]\n'], ['Gabriel Everett[33]\n'], ['Jeff Caravello[15][16]\n'], ['Landon Goesling[25]\n'], ['Marcus Lathan[34]\n'], ['Marty Hargrove[23]\n']]

In [126]:
k_data = {'Name': name, 'Age': age, 'Occupation': occupation, 'Hometown' : hometown}

In [127]:
df = pd.DataFrame(k_data)

In [128]:
df

,Name,Age,Occupation,Hometown
0,[Blake Moynes[11][12]\n],[30\n],[Wildlife Manager\n],"[Hamilton, Ontario\n]"
1,[Blake Moynes[11][12]\n],[30\n],[Wildlife Manager\n],"[Hamilton, Ontario\n]"
2,[Justin Glaze[14]\n],[26\n],[Investment Sales Consultant\n],"[Ellicott City, Maryland\n]"
3,[Justin Glaze[14]\n],[26\n],[Investment Sales Consultant\n],"[Ellicott City, Maryland\n]"
4,[Greg Grippo[15][16]\n],[27\n],[Marketing Sales Representative\n],"[Edison, New Jersey\n]"
...,...,...,...,...
57,[Landon Goesling[25]\n],[25\n],[Basketball Coach\n],"[Coppell, Texas\n]"
58,[Marcus Lathan[34]\n],[30\n],[Real Estate Broker\n],"[Vancouver, Washington\n]"
59,[Marcus Lathan[34]\n],[30\n],[Real Estate Broker\n],"[Vancouver, Washington\n]"
60,[Marty Hargrove[23]\n],[25\n],[Dancer\n],"[Reno, Nevada\n]"
61,[Marty Hargrove[23]\n],[25\n],[Dancer\n],"[Reno, Nevada\n]"

In [129]:
df.to_csv(r'Season17.csv', header = True)